@charset "UTF-8";
/* Geral */
* {
  list-style: none !important;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}
body {
  padding-bottom: 500px;
  background-color: white;
}
.remove {
  display: none;
}

/* Header */
.header {
  border-color: #00a5e3 !important;
  display: flex;
}
.header img {
  width: 34px;
  padding: 5px;
  border-radius: 3px;
  overflow: hidden;
}
.header img:hover {
  background-color: #00a5e3;
}
.redes {
  gap: 10px;
}
.navegacao ul li a {
  color: #141414;
}
.theme img {
  cursor: pointer;
}

/* Banner */
.bannerHome .banner {
  height: 320px;
  background-color: #2c2c2c;
  background-image: url("../img/banner/img1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner h2 {
  color: #f1f1f1;
}
.banner p {
  color: #e2e2e2;
  max-width: 500px;
}

.noticia {
  max-width: 520px;
}
.noticia img {
  width: 200px;
  height: 300px;
  border-radius: 0 7px 7px 0;
}
.noticiaSeila {
  gap: 2px;
  margin: 10px 15px;
}

/* DropDown */
.navegacao li {
  cursor: pointer;
}
.navegacao li ul li + li {
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
}
.navegacao li ul {
  display: none;
  position: absolute;
  background: white;
  border-radius: 5px;
  padding: 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.4) 0px 0px 0px 1px;
}
.navegacao li ul li a {
  padding: 6px 12px;
  display: block;
}
.navegacao li ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.navegacao li:hover ul {
  display: block;
}

/* Menu Mobile */
.menuMobile {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

/* Obras */
.obras img {
  width: 178px;
  height: 255px;
}
.teste {
  margin: 0 !important;
}
/* Responsivo */
@media (max-width: 770px) {
  .banner article {
    margin-left: 15px;
  }
  .banner p {
    font-size: 1rem;
  }
  .navegacao ul ul {
    position: static !important;
    max-width: 300px;
  }
  .navegacao ul ul {
    margin-top: 8px;
  }
  .navegacao {
    display: none;
  }
  .redes,
  .theme {
    display: none !important;
  }
  .main {
    width: 100% !important;
  }
  .menuMobile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    outline: none !important;
  }
  .hamburguer {
    display: block;
    border-top: 2px solid #141414;
    width: 20px;
  }
  .hamburguer:after,
  .hamburguer:before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: #141414;
    transition: 0.3s;
    position: relative;
  }
  .menuMobile.ativo > .hamburguer {
    border-top-color: transparent;
  }
  .menuMobile.ativo > .hamburguer:before {
    transform: rotate(135deg);
  }
  .menuMobile.ativo > .hamburguer:after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .navegacao.ativo {
    display: block;
  }
  .navegacao.ativo ul {
    position: absolute;
    flex-direction: column !important;
    top: 45px;
    left: 100px;
    background: #e2e2e2;
    box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 10px !important;
    border-radius: 0 5px 5px 0;
    animation: showLeft 0.3s forwards;
  }
  .navegacao.ativo ul li + li {
    border-top: 1px solid #00a5e3;
  }
  .bannerHome {
    margin-top: 20px;
  }
  /* .noticiaContainer {
    gap: 30px;
  } */
}
@media (max-width: 1000px) {
  .noticiaContainer {
    gap: 30px;
  }
}
@media (max-width: 505px) {
  .noticia img {
    display: none;
  }
}
@media (max-width: 710px) {
  .navegacao.ativo ul {
    left: 0;
  }
}
@keyframes showLeft {
  from {
    transform: translate3d(-30px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
