@charset "UTF-8";
/* Geral by Dimitri Freitas */
* {
  list-style: none !important;
  text-decoration: none !important;
}
body {
  background: #2c2c2c;
  color: #f1f1f1 !important;
}
.remove {
  display: none;
}
.border {
  border-color: #00ba89 !important;
}
.titulo {
  color: #141414 !important;
}
.mt {
  margin-top: 20px;
}
.small {
  color: #acacac;
}
.small a {
  color: #5772e9;
}
.small a:hover {
  text-decoration: underline !important;
}

/* Header by Dimitri Freitas */
.header {
  border-color: #00ba89 !important;
  display: flex;
}
.header .redes img {
  width: 34px;
  padding: 5px;
  border-radius: 3px;
}
.header .redes img:hover {
  background-color: #00ba89;
}
.redes {
  gap: 10px;
}
.navegacao ul li a {
  color: #f1f1f1;
}
.theme img {
  cursor: pointer;
  width: 34px;
  padding: 5px;
  border-radius: 3px;
}
.theme img:hover {
  background-color: #00ba89;
}
.logo {
  display: flex;
  padding: 10px 0px;
}
.logo img {
  /* display: block; */
  width: 100%;
  overflow: hidden;
}

/* Banner by Dimitri Freitas*/
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
}
.bannerHome .banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../img/banner/bannerDefault.jpg");
}
.bannerHome .banner:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/banner/bannerDefault.jpg");
}
.bannerAnimacoes .banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../img/banner/bannerAnimacao.jpg");
}
.bannerAnimacoes .banner:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/banner/bannerAnimacao.jpg");
}
.banner h2 {
  color: #f1f1f1;
}
.banner p {
  color: #e2e2e2;
  max-width: 500px;
}

/* DropDown Navegação by Dimitri Freitas */
.navegacao li {
  cursor: pointer;
}
.navegacao li ul li + li {
  border-top: 1px rgba(0, 0, 0, 0.2) solid;
}
.navegacao li ul {
  display: none;
  position: absolute;
  background: #424242;
  border-radius: 5px;
  padding: 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.4) 0px 0px 0px 1px;
  z-index: 200000;
}
.navegacao li ul li a {
  padding: 6px 12px;
  display: block;
}
.navegacao li ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.navegacao li:hover ul {
  display: block;
  animation: animaNav 0.3s forwards;
}

/* Menu Mobile by Dimitri Freitas */
.menuMobile {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #f1f1f1;
  padding: 20px 3px;
  font-size: 1.25rem;
}

/* Obras by Dimitri Freitas */
.obras {
  background: #232323;
}
.obras img {
  width: 178px;
  height: 255px;
}
.obrasContainer {
  box-shadow: inset 0 -100px #2c2c2c;
}
.bg-secondary {
  background: #00ba89 !important;
}

/* Ultimos Reviews by Dimitri Freitas*/
.ultimosReviews section {
  max-width: 458px;
  background: rgba(0, 0, 0, 0.2);
}
.ultimosReviews section a img {
  width: 335px;
  overflow: hidden;
}
.ultimosReviews section a {
  color: #f1f1f1;
}

/* Footer by Dimitri Freitas */
.footer p {
  background: #00ba89;
  color: #2c2c2c;
}
.footer {
  background: rgba(0, 0, 0, 0.1);
}
.listaPrimaria li,
.listaPrimaria li a {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
.listaSecundaria li a {
  color: #f1f1f1 !important;
  padding: 10px 5px;
  display: block;
  font-size: 1rem;
  font-weight: normal;
}
.listaSecundaria li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.listaSecundaria li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* Noticias by Dimitri Freitas*/
.noticia {
  max-width: 520px;
  background: rgba(0, 0, 0, 0.2);
}
.noticia img {
  width: 200px;
  height: 300px;
  border-radius: 0 7px 7px 0;
}
.noticiaSeila {
  gap: 2px;
  margin: 10px 15px;
}

/* Animação Destaques by Dimitri Freitas */
.destaques {
  background: rgba(0, 0, 0, 0.2);
}
.destaques img {
  width: 375px;
  overflow: hidden;
}
.destaquesImg {
  display: flex;
}
.destaquesInf {
  margin-left: 30px;
}
.border-top,
.border-bottom {
  border-color: #00ba89 !important;
}

/* Animação Lançamentos by Dimitri Freitas */
.btn-primary {
  color: #2c2c2c;
  background: #00ba89;
  border-color: #00ba89;
}
.btn-primary:hover {
  background: #008a65;
  border-color: #008a65;
  color: #2c2c2c;
}
.lancamentos {
  padding: 25px;
  background: rgba(0, 0, 0, 0.2);
}
.lancamentos img {
  max-width: 220px;
  height: 325px;
  overflow: hidden;
}
.lancamentos h3,
.lancamentos a {
  max-width: 220px;
}

/* Animação Premiados by Dimitri Freitas*/
.premiados {
  background: rgba(0, 0, 0, 0.2);
}
.premiados img {
  overflow: hidden;
  width: 300px;
  height: 250px;
}
.premiados ul {
  gap: 20px;
}
.premiados ul li + li {
  padding-top: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.premiados ul li {
  max-width: 300px;
}
.premiados ul {
  margin: 0 36px;
}

/* Animação Conteudo by Dimitri Freitas */
.cite {
  margin-left: 30px;
  padding-left: 8px;
  border-left: 3px #00ba89 solid;
}
.conteudo aside img {
  width: 100%;
  height: 300px;
}
.sobreImg article {
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

/* Contato by Dimitri Freitas */
.formulario img {
  width: 420px;
  height: 100%;
}
.formulario fieldset {
  width: 100%;
  padding: 30px 80px 20px 35px;
}
.formulario fieldset label {
  display: block;
}
.formulario fieldset input,
.formulario fieldset textarea {
  background: rgba(0, 0, 0, 0.2);
  /* background: #424242; */
  border: none;
  border-radius: 6px;
  resize: none;
  padding: 10px 0 10px 8px;
  color: #f1f1f1;
}
.formulario fieldset textarea {
  height: 150px;
}
.formulario img {
  border-radius: 7px 0px 0px 7px;
}
.formulario fieldset button {
  width: 100px;
  height: 40px;
}
.formulario fieldset input:focus,
.formulario fieldset textarea:focus {
  outline: #00ba89 2px solid;
}

/* Responsivo menu Mobile e Especificos by Dimitri Freitas */
@media (max-width: 1000px) {
  .formulario img {
    display: none;
  }
  .banner article {
    margin-left: 15px;
  }
  .banner p {
    font-size: 1rem;
  }
  .navegacao ul ul {
    position: static !important;
    max-width: 300px;
  }
  .navegacao ul ul {
    margin-top: 8px;
  }
  .navegacao ul {
    font-size: 1.1rem;
  }
  .navegacao {
    display: none;
  }
  .redes,
  .theme {
    display: none !important;
  }
  .menuMobile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    outline: none !important;
  }
  .hamburguer {
    display: block;
    border-top: 2px solid #f1f1f1;
    width: 20px;
  }
  .hamburguer:after,
  .hamburguer:before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: #f1f1f1;
    transition: 0.3s;
    position: relative;
  }
  .menuMobile.ativo > .hamburguer {
    border-top-color: transparent;
  }
  .menuMobile.ativo > .hamburguer:before {
    transform: rotate(135deg);
  }
  .menuMobile.ativo > .hamburguer:after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .navegacao.ativo {
    display: block;
  }
  .navegacao.ativo ul {
    position: absolute;
    flex-direction: column !important;
    top: 60px;
    left: 0;
    background: #424242;
    box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 10px !important;
    border: 1px rgba(0, 0, 0, 0.2) solid;

    border-left: none;
    border-radius: 0 5px 5px 0;
    animation: animaMenu 0.3s forwards;
  }
  .navegacao.ativo ul li ul {
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
  }
  .navegacao.ativo ul li,
  .navegacao.ativo ul li a {
    width: 100%;
    display: block;
  }
  .navegacao.ativo ul li + li {
    border-top: 1px rgba(0, 0, 0, 0.2) solid;
  }
  .bannerHome {
    margin-top: 20px;
  }
  .noticiaContainer {
    gap: 30px;
  }
  .destaques {
    flex-direction: column !important;
  }
  .destaques img {
    width: 100%;
    height: 245px;
  }
  .destaquesImg {
    width: 100%;
    display: inline-block;
  }
  .destaquesInf {
    margin: 0;
  }
  .lançamentosContainer {
    gap: 30px;
  }
  .premiados img {
    width: 100%;
  }
}
@media (max-width: 710px) {
  .navegacao.ativo ul {
    left: 0;
  }
  .formulario fieldset {
    width: 100%;
    padding: 35px;
  }
}
@media (max-width: 505px) {
  .premiados img {
    height: fit-content;
  }
  .noticia img {
    display: none;
  }
  .lancamentos {
    padding: 20px 15px;
  }
  .space {
    margin-top: 25px;
  }
  .formulario fieldset {
    padding: 20px;
  }
}
@keyframes animaMenu {
  from {
    transform: translate3d(-30px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes animaNav {
  from {
    transform: translate3d(0, -10px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* CSS LUCAS PEREIRA */
.cosplay img {
  width: 370px;
  height: 360px;
  margin: 0 auto;
  display: block;
}
.cosplaybanner img {
  width: 100%;
  height: 381px;
  margin: 25px 0;
}
.imagenscosplay img {
  width: 460px;
  height: 400px;
}
.cosplay {
  margin-top: 30px;
}
.lado1img img {
  width: 220px;
  height: 305px;
  display: block;
  margin: 0 auto;
}
.lado1 section {
  margin: 20px 0;
}
.sugestao {
  text-align: center;
}
.sugestao ul li h4 {
  margin-top: 40px;
}
.bannersinopse img {
  width: 100%;
  height: 400px;
}
.filmesdestaques img {
  width: 456px;
  height: 290px;
}
.filmestextodestaques article h3,
.filmestextodestaques article p {
  text-align: center;
}
.filmesbannerdestaques img {
  width: 855px;
  height: 290px;
  margin: 0 auto;
  display: block;
}
.filmestextodestaques article h3 {
  margin-top: 60px;
}
.quemsomos aside img {
  width: 410px;
  height: 300px;
}
.integrantes {
  margin-top: 30px;
}

/* CSS LUCAS VIEIRA */
.sla {
  margin: 20px;
  margin-top: 80px;
}
.not {
  margin-top: 70px;
  margin: 20px;
}
.bordas {
  padding: 10px;
  border: solid rgb(128, 128, 128, 0.1) 3px;
  margin: 5px;
}
.fulano {
  margin: 10px;
  margin-top: 30px;
}
.titulo2 {
  text-align: center;
  background-color: #acacac;
  padding: 20px;
}
.titulos {
  margin: 20px;
  text-align: center;
}
.nrms p {
  text-align: center;
}
.principais {
  margin: 20px;
}
.src {
  margin-left: 2px;
}
.oi {
  display: flex;
  margin: 10px;
  gap: 10px;
  padding: 5px;
}
.outros {
  text-align: center;
  justify-content: center;
}
